<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Flex Luthor Flexbox Layout System</title>
		<link rel="stylesheet" href="flex-luthor.css">
		<link rel="stylesheet" href="flex-luthor-align.css">
		<link rel="stylesheet" href="flex-luthor-separators.css">
		<link rel="stylesheet" href="flex-luthor-debug-fill.css">
		<link rel="stylesheet" href="https://unpkg.com/resizeasaurus@1.0.2/resizeasaurus.css">
		<link rel="stylesheet" href="prism-theme.css">
		<style>
		body {
			font-family: system-ui, sans-serif;
			max-width: 60em;
			margin: 0 auto;
		}
		p {
			max-width: 42em;
		}

		/* Resizer demo styles */
		.resizeasaurus {
			margin-bottom: 1em;
			background-color: transparent;
		}

		.source-details {
			border-radius: .25rem;
			margin-bottom: 3em;
		}
		.source-details summary {
			padding: .5rem 1rem;
			border: 1px solid #eee;
			color: #555;
			font-size: 0.8125em; /* 13px /16 */
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: .5px;
		}
		.source-details[open] summary {
			border-top-right-radius: .25rem;
			border-top-left-radius: .25rem;
			background-color: #444;
			color: #fff;
			border-color: transparent;
		}

		@supports(transform: rotate(90deg)) {
			.source-details summary {
				/* Note this blows away the arrow in Firefox so we need another method to show an arrow */
				display: inline-block;
			}
			.source-details summary::-webkit-details-marker {
				display: none;
			}
			.source-details summary:before {
				display: inline-block;
				content: "";
				margin-right: .75em;
				width: 0; 
				height: 0; 
				border-top: .4em solid transparent;
				border-bottom: .4em solid transparent;
				border-left: .4em solid;
			}
			.source-details[open] summary:before {
				transform: rotate(90deg);
				/*border-bottom: none;
				border-left: .4em solid transparent;
				border-right: .4em solid transparent;
				border-top: .4em solid;*/
			}
		}
		.source-details pre {
			margin: 0;
			padding: 1rem;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			border-width: 0;
		}

		/* Code */

		/* Flex Luthor demo styles */
		.demo-flu-minwidth > .flu-cell {
			min-width: 100px;
		}
		</style>
		<script src="https://unpkg.com/resizeasaurus@1.0.2/resizeasaurus.js" async></script>
	</head>
	<body>
		<h1>The Flex Luthor Flexbox Layout System</h1>
		<p>Alternatively known as <em>Oh no why did they make an abstraction for Flexbox</em>.</p>

		<main>
			<h2>Simple Layouts</h2>
			<h3>Two Column</h3>
{% example "html" %}
<div class="flu flu-debug-outline">
	<div class="flu-cell">First cell</div>
	<div class="flu-cell">Second cell</div>
</div>
{% endexample %}

			<h3>Five Column</h3>
			<p>Adding more cells divides the container evenly.</p>

{% example "html" %}
<div class="flu flu-debug-outline">
	<div class="flu-cell">First cell</div>
	<div class="flu-cell">Second cell</div>
	<div class="flu-cell">Third cell</div>
	<div class="flu-cell">Fourth cell</div>
	<div class="flu-cell">Fifth cell</div>
</div>
{% endexample %}

			<h2>Margins Between Cells</h2>

			<p>Margins only show between cells. Horizontal margins are not shown when cells are all stacked. Vertical margins are not shown when cells are in a single row.</p>

			<h3>Horizontal (<code>--flu-margin-h: 1em</code>)</h3>
{% example "html" %}
<div class="flu flu-debug-outline" style="--flu-margin-h: 1em">
	<div class="flu-cell">First cell</div>
	<div class="flu-cell">Second cell</div>
	<div class="flu-cell">Third cell</div>
	<div class="flu-cell">Fourth cell</div>
	<div class="flu-cell">Fifth cell</div>
</div>
{% endexample %}

			<h3>Vertical  (<code>--flu-margin-v: .5em</code>)</h3>
{% example "html" %}
<div class="flu flu-debug-outline" style="--flu-margin-v: .5em">
	<div class="flu-cell">First cell</div>
	<div class="flu-cell">Second cell</div>
	<div class="flu-cell">Third cell</div>
	<div class="flu-cell">Fourth cell</div>
	<div class="flu-cell">Fifth cell</div>
</div>
{% endexample %}

			<h3>Both Vertical and Horizontal (<code>--flu-margin-h: 1em; --flu-margin-v: .5em</code>)</h3>
{% example "html" %}
<div class="flu flu-debug-outline" style="--flu-margin-h: 1em; --flu-margin-v: .5em">
	<div class="flu-cell">First cell</div>
	<div class="flu-cell">Second cell</div>
	<div class="flu-cell">Third cell</div>
	<div class="flu-cell">Fourth cell</div>
	<div class="flu-cell">Fifth cell</div>
</div>
{% endexample %}

			<h2>Stackpoint</h2>

			<p>This is a container width based breakpoint. Going below this width forces the layout to a single column.</p>

			<h3>Single Column below <code>25em</code> (<code>400px</code>) <em>Container</em> Width</h3>
{% example "html" %}
<div class="flu" style="--flu-stackpoint: 25em; --flu-margin-h: 1em; --flu-margin-v: .5em;">
	<div class="flu-cell">First cell</div>
	<div class="flu-cell">Second cell</div>
	<div class="flu-cell">Third cell</div>
	<div class="flu-cell">Fourth cell</div>
	<div class="flu-cell">Fifth cell</div>
</div>
{% endexample %}


			<h2>Separators</h2>

			<p>Separators only show between cells between columns and rows. If all cells are stacked in a single column, no horizontal separators will be shown. Same for vertical separators and a single row of cells.</p>

			<h3>Horizontal</h3>
{% example "html" %}
<div class="flu flu-separator-h" style="--flu-margin-h: 1em; --flu-margin-v: .5em; --flu-separator-color: #333">
	<div class="flu-cell">First cell</div>
	<div class="flu-cell">Second cell</div>
	<div class="flu-cell">Third cell</div>
	<div class="flu-cell">Fourth cell</div>
	<div class="flu-cell">Fifth cell</div>
</div>
{% endexample %}

			<h3>Vertical</h3>
{% example "html" %}
<div class="flu flu-separator-v" style="--flu-margin-h: 1em; --flu-margin-v: 1em; --flu-separator-color: #333">
	<div class="flu-cell">First cell</div>
	<div class="flu-cell">Second cell</div>
	<div class="flu-cell">Third cell</div>
	<div class="flu-cell">Fourth cell</div>
	<div class="flu-cell">Fifth cell</div>
</div>
{% endexample %}

			<h3>Both Horizontal and Vertical</h3>
{% example "html" %}
<div class="flu flu-separator-h flu-separator-v" style="--flu-margin-h: 1em; --flu-margin-v: 1em; --flu-separator-color: #333">
	<div class="flu-cell">First cell</div>
	<div class="flu-cell">Second cell</div>
	<div class="flu-cell">Third cell</div>
	<div class="flu-cell">Fourth cell</div>
	<div class="flu-cell">Fifth cell</div>
</div>
{% endexample %}

			<h2>Prefer to Wrap Cell Before Content</h2>

			<p>By default, the content inside of a cell will wrap before the cell will wrap to a new line. To swap this so that the cell will wrap <em>before</em> the content wraps, add the <code>flex-cell-wrap</code>.</p>

{% example "html" %}
<div class="flu flu-debug-outline" style="--flu-margin-h: 1em; --flu-margin-v: .5em;">
	<div class="flu-cell">First cell</div>
	<div class="flu-cell flu-cell-wrap">This cell will wrap to a new line before wrapping its content</div>
	<div class="flu-cell">Third cell</div>
	<div class="flu-cell">Fourth cell</div>
	<div class="flu-cell">Fifth cell</div>
</div>
{% endexample %}

			<h2>Inline Layout</h2>

			<p>Cells only take up their content width. This disables <code>flex-grow</code> on the cells. Works with <code>flu-cell-wrap</code> too.</p>

{% example "html" %}
<div class="flu flu-inline flu-debug-outline" style="--flu-margin-h: 1em; --flu-margin-v: .5em;">
	<div class="flu-cell">First cell</div>
	<div class="flu-cell flu-cell-wrap">This cell will wrap to a new line before wrapping its content</div>
	<div class="flu-cell">Third cell</div>
	<div class="flu-cell">Fourth cell</div>
	<div class="flu-cell">Fifth cell</div>
</div>
{% endexample %}
		</main>
	</body>
</html>