/* Separators */
@supports (clip-path: inset(0px 0px)) or (-webkit-clip-path: inset(0px 0px)) {
  .fg-layout-separator-v,
  .fg-layout-separator-h {
    -webkit-clip-path: inset(var(--fg-layout-margin-v, 0px) 0 0 var(--fg-layout-margin-h, 0px));
    clip-path: inset(var(--fg-layout-margin-v, 0px) 0 0 var(--fg-layout-margin-h, 0px));
  }
  .fg-layout-separator-v > .fg-layout-cell,
  .fg-layout-separator-h > .fg-layout-cell {
    position: relative;
  }
  .fg-layout-separator-h > .fg-layout-cell:before {
    content: "";
    position: absolute;
    left: calc(-.5 * var(--fg-layout-margin-h, 0) - .5px);
    top: 0;
    bottom: 0;
    border-left: 1px solid var(--fg-layout-separator-h-color, var(--fg-layout-separator-color, rgba(162,208,239,.35)));
  }
  .fg-layout-separator-v > .fg-layout-cell:after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(-.5 * var(--fg-layout-margin-v, 0) - 1px);
    right: 0;
    border-top: 1px solid var(--fg-layout-separator-v-color, var(--fg-layout-separator-color, rgba(162,208,239,.35)));
  }
}
